section.home-banner
	.banner
		.item
			.banner-img
				img(src="img/bn.jpg", alt="")
				.caption
					h1.big Kết nối doanh nghiệp với toàn cầu
					h3.small Hệ thống cơ sở dữ liệu khu, cụm cn, cụm liên kết ngành
		.item
			.banner-img
				img(src="img/bn.jpg", alt="")
				.caption
					h1.big Kết nối doanh nghiệp với toàn cầu
					h3.small Hệ thống cơ sở dữ liệu khu, cụm cn, cụm liên kết ngành