footer
	.container
		.footer-top
			.row
				.col-12.col-lg-4
					.footer-col
						.footer-title Cổng thông tin điện tử ngành công nghiệp hỗ trợ
						.footer-link
							ul
								li
									label Cổng thông tin điện tử:
									span Ngành công nghiệp hỗ trợ
								li
									label Giấy phép:
									span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ut dolores numquam quos minus distinctio deleniti consectetur id autem et.
				.col-12.col-lg-4
					.footer-col
						.footer-title Liên kết hữu ích
						.footer-link
							ul
								li
									label Website cơ quan nhà nước
									select
										option(value="") --- Tất cả ---
								li
									label Website các ngành, hiệp hội
									select
										option(value="") --- Tất cả ---

				.col-12.col-lg-4
					.footer-col
						.footer-title Thông tin liên hệ
						.contact-info
							.company Cục công nghiệp - Bộ công thương
							ul
								li
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									span 23 Ngô Quyền, Quận Hoàn Kiếm, TP.Hà Nội
								li
									<i class="fa fa-phone" aria-hidden="true"></i>
									a(href="tel:") (024) 3 996 7189
								li
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									span vsi@moit.gov.vn
		.footer-bottom
			.copyright Copyright 2020 - Bản quyền thuộc về cục công nghiệp - bộ công thương việt nam. Ghi rõ nguồn gốc khi phát lại thông tin từ website này.
				//- .col-12.col-lg-4
					.footer-col
						.footer-title Kết nối với chúng tôi
						.content.text-white
							p Chúng tôi luôn tìm cách kết nối với những người có cùng sự quan tâm đến một tương lai bền vừng
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
						.footer-link
							ul
								li
									a(href="#!") Tuyển nhà phân phối
								li
									a(href="#!") Hệ thông phân phối
								li
									a(href="#!") Liên hệ