header
	.header-top
		.container
			.header-top-wrap
				.slogan Cổng thông tin điện tử - Công nghiệp hỗ trợ
				.col-right
					.language
						.dropdown
							a.dropdown-toggle#dropdownMenuLink(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') 
								.img
									img(src="img/uk.png", alt="")
								span English
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#')
									.img
										img(src="img/uk.png", alt="")
									span Vietnamese
								a.dropdown-item(href='#')
									.img
										img(src="img/uk.png", alt="")
									span English
					.search
						.search-toggle 
							span.lnr.lnr-magnifier
						.search-wrap
							.searchbox
								input.searchinput
								button.searchbutton
	.header-main
		.container
			.header-wrap
				.btn-showmenu
				.sitelogo
					a(href="#!")
						img(src="img/logo.png", alt="")
				.menu
					ul.menu-link
						li.active
							a(href="#!") Trang chủ
						li
							a(href="#!") Giới thiệu
							//- .sub
								.sub-container
									ul
										li
											a(href="#!") Về công ty
										li
											a(href="#!") Lịch sử phát triển
										li
											a(href="#!") Hệ thống quản lí chất lượng
										li
											a(href="#!") Đơn vị trực thuộc
										li
											a(href="#!") Hệ thống quản trị
									.sub-img(style="background: url(img/subimg.jpg) center center / cover no-repeat")
						li
							a(href="#!") Công nghiệp hỗ trợ
						li
							a(href="#!") Thị trường
						li
							a(href="#!") Tin tức
						li
							a(href="#!") Dịch vụ CNHT
						li
							a(href="#!") Tài liệu tham khảo
						li
							a(href="#!") Cơ sở dữ liệu
						li
							a(href="#!") Đa phương tiện
						li
							a(href="#!") Liên hệ