include ../_layout/banner

section.home-news
	.container
		.home-title.text-center Tin tức
		.row
			.col-12.col-lg-8
				.hnews-list
					.row
						.col-12.col-md-6
							.news-item.big
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
									.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia cum, assumenda laudantium vel rem magni. Corporis obcaecati quo voluptates?
						.col-12.col-md-6
							.news-item.big
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
									.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia cum, assumenda laudantium vel rem magni. Corporis obcaecati quo voluptates?
						.col-12.col-md-6
							.news-item.small
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
						.col-12.col-md-6
							.news-item.small
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
			.col-12.col-lg-4
				.news-line
					ul
						li
							.name
								a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 11:45AM - 11/07/2020
						li
							.name
								a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 11:45AM - 11/07/2020
						li
							.name
								a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 11:45AM - 11/07/2020
						li
							.name
								a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 11:45AM - 11/07/2020
						li
							.name
								a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 11:45AM - 11/07/2020
						li
							.name
								a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 11:45AM - 11/07/2020

section.home-csdl-wrap
	.bg(style="background: url(img/bg.jpg) center center / cover no-repeat")
	.container
		.home-csdl
			.home-title.text-center.bg-blue Hệ thống cơ sở dữ liệu
			.csdl-system
				.row
					.col-12.col-md-4
						.csdl
							a.img(href="")
								img(src="img/csdl.jpg", alt="")
							.caption
								.name
									a(href="#!") CSDL Cơ khí chế tạo
					.col-12.col-md-4
						.csdl
							a.img(href="")
								img(src="img/csdl.jpg", alt="")
							.caption
								.name
									a(href="#!") CSDL Cơ khí chế tạo
					.col-12.col-md-4
						.csdl
							a.img(href="")
								img(src="img/csdl.jpg", alt="")
							.caption
								.name
									a(href="#!") CSDL Cơ khí chế tạo
					
					.col-12.col-md-8
						.row
							.col-12
								.csdl
									a.img(href="")
										img(src="img/csdl.jpg", alt="")
									.caption
										.name
											a(href="#!") CSDL Cơ khí chế tạo
							.col-12.col-md-6
								.csdl
									a.img(href="")
										img(src="img/csdl.jpg", alt="")
									.caption
										.name
											a(href="#!") CSDL Cơ khí chế tạo
							.col-12.col-md-6
								.csdl
									a.img(href="")
										img(src="img/csdl.jpg", alt="")
									.caption
										.name
											a(href="#!") CSDL Cơ khí chế tạo
					.col-12.col-md-4
						.csdl.big
							a.img(href="")
								img(src="img/csdl.jpg", alt="")
							.caption
								.name
									a(href="#!") CSDL Cơ khí chế tạo
		.home-find
			.home-title.text-center.bg-blue Tìm kiếm doanh nghiệp
			.find-form
				.form-wrap
					.row
						.col-12.col-md-2
							select(name="")
								option Lĩnh vực
						.col-12.col-md-2
							select(name="")
								option Tỉnh thành
						.col-12.col-md-2
							select(name="")
								option Sản phẩm
						.col-12.col-md-4
							input(type="text" placeholder="Từ khóa tìm kiếm")
						.col-12.col-md-2
							button.btn-find Tìm kiếm

section.home-cert
	.container
		.home-title.text-center Đối tác
		.cert-slide
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")

//- section.home-sale
	.container-fluid
		.row.align-items-center
			.col-12.col-lg-5
				.block-img
					img(src="img/hs.png", alt="")
			.col-12.col-lg-7
				.block-content
					.title Truy cập website bán hàng online hoặc đến các hệ thống phân phối của Lương Quới
					.s-title để lựa chọn những sản phẩm tinh túy nhất.
					.btn-actions
						a.bt-primary(href="#!") MUA HÀNG ONLINE
						a.bt-primary(href="#!") MUA HÀNG TRỰC TIẾP

//- section.home-special
	.bg(style="background: url(img/bg2.jpg) center center no-repeat")
	.container
		.home-title.text-center.text-white Điểm khác biệt của chúng tôi
		.block-content
			.content.text-center.text-white
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.features
			.row
				.col-12.col-md-3
					.feature
						.img
							img(src="img/ft1.png", alt="")
						.caption
							.number
								strong 6.879
								span tỷ
							.desc Sản lượng sản phẩm
				.col-12.col-md-3
					.feature
						.img
							img(src="img/ft1.png", alt="")
						.caption
							.number
								strong 17
								span năm
							.desc Sản lượng sản phẩm
				.col-12.col-md-3
					.feature
						.img
							img(src="img/ft1.png", alt="")
						.caption
							.number Diện tích
							.desc nhà máy
				.col-12.col-md-3
					.feature
						.img
							img(src="img/ft1.png", alt="")
						.caption
							.number Số quốc gia
							.desc đã xuất khẩu đến

//- section.home-news
	.container
		.home-title.text-center Tin tức & Sự kiện
		.news-list
			.row
				.col-12.col-lg-6
					.news.big
						a.img(href="#!")
							img(src="img/hn1.jpg", alt="")
						.caption
							time 30 tháng 4, 2019
							.name
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
							a.link(href="#!") Xem chi tiết
				.col-12.col-lg-6
					.row
						.col-12.col-lg-6
							.news
								a.img(href="#!")
									img(src="img/hn1.jpg", alt="")
								.caption
									time 30 tháng 4, 2019
									.name
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
						.col-12.col-lg-6
							.news
								a.img(href="#!")
									img(src="img/hn1.jpg", alt="")
								.caption
									time 30 tháng 4, 2019
									.name
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
						.col-12.col-lg-6
							.news
								a.img(href="#!")
									img(src="img/hn1.jpg", alt="")
								.caption
									time 30 tháng 4, 2019
									.name
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
						.col-12.col-lg-6
							.news
								a.img(href="#!")
									img(src="img/hn1.jpg", alt="")
								.caption
									time 30 tháng 4, 2019
									.name
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.

//- section.home-brand
	.bg(style="background: url(img/bg3.jpg) center center;background-size: 100% 100%")
	.container
		.home-title.text-center.text-white Thương hiệu của chúng tôi
		.block-content
			.content.text-center.text-white
				p Sản phẩm của chúng tôi có thể được tìm thấy trên toàn thế giới. Công ty TNHH Chế Biến Dừa Lương Quới là 1 trong những nhà sản xuất thực phẩm và đồ uống hàng đầu Việt Nam với danh mục sản phẩm khổng lồ. Thành công và sự nổi tiếng của các thương hiệu hiện nay của chúng tôi đã thúc đẩy chúng tôi đặt mục tiêu mang lại hơn 50 triệu đôla doanh số bán lẻ hàng năm. 
		.brands
			.brand
				img(src="img/logo.png", alt="")
			.brand
				img(src="img/logo.png", alt="")
			.brand
				img(src="img/logo.png", alt="")

//- section.home-cert
	.container
		.home-title.text-center Chứng nhận chất lượng quốc tế
		.cert-slide
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")
			.item
				.cert
					img(src="img/cert1.png", alt="")

//- section.home-career
	.container
		.row
			.col-12.col-md-6
				.home-title Cơ hội nghề nghiệp
				.content
					p Lương Quới luôn chào đón và tạo các điều kiện tốt, đảm bảo chế độ tốt cho các ứng viên có hoài bão, yêu thích được làm việc trong một môi trường năng động và đầy thử thách ở Lương Quới.
				.btn-wrap
					a.bt-primary(href="#!") Ứng tuyển ngay
			.col-12.col-md-6
				.block-img
					img.w-100(src="img/job.jpg", alt="")
