section.contact-page
	.contact-info
		.bg(style="background: url(img/bn.jpg) center center / cover no-repeat")
		.container
			.row.align-items-center
				.col-12.col-md-6
					.block-text
						.intro-text Hãy liên lạc với chúng tôi bằng cách gửi email hoặc điền vào mẫu. Chúng tôi sẽ phản hồi bạn sớm.
						a.email(href="#!") vsi@moit.gov.vn
						.phone
							span Điện thoại:
							a(href="#!") (024) 3 996 7189
				.col-12.col-md-6
					.block-form
						.contact-form
							.module-title Để lại lời nhắn cho chúng tôi
							.form-wrap
								.form-group
									input(type="text" placeholder="Họ & tên (*)")
								.form-group
									input(type="text" placeholder="Email (*)")
								.form-group
									input(type="text" placeholder="Điện thoại (*)")
								.form-group
									input(type="text" placeholder="Tiêu đề (*)")
								.form-group
									textarea(name="", cols="", rows="4" placeholder="Nội dung")
								.btn-wrap
									input(type="submit", value="Gửi thông tin")
	.contact-location
		.container
			.log-map
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6911934724053!2d106.74353311533423!3d10.758265762469193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752596009b808b%3A0x44c31d92ca50b338!2sVNG%20Campus!5e0!3m2!1svi!2s!4v1599666574608!5m2!1svi!2s' width='100%' height='400' frameborder='0' style='border:0;' allowfullscreen aria-hidden='false' tabindex='0')