.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.news-page
	.container
		.row
			.col-12.col-lg-8
				.news-detail
					.news-name Nỗ lực thực hiện các giải pháp phát triển điện lực, đảm bảo an ninh năng lượng quốc gia
					.share-wrap
						.share
							img(src="img/share.png", alt="")
						time 30 tháng 4, 2019
					//- a.en-click(href="#!") *Please click here for English*
					.news-content
						.content
							p Phát biểu khai mạc Hội nghị, ông Vũ Hồng Thanh, Chủ nhiệm Ủy ban Kinh tế của Quốc hội cho biết, điện lực là một lĩnh vực quan trọng đối với đất nước, có ảnh hưởng tới tất cả các mặt, lĩnh vực của nền kinh tế - xã hội. Thực hiện chủ trương của Đảng về phát triển năng lượng nói chung và điện lực nói riêng, Quốc hội, Chính phủ đã ban hành nhiều cơ chế chính sách nhằm phát triển lĩnh vực điện lực. Nhờ đó ngành điện đã có sức phát triển nhanh chóng, cả nguồn và lưới điện, chất lượng điện, an toàn đã được nâng cao, đáp ứng được yêu cầu đặt ra.
							.img.text-center
								img(src="https://www.moit.gov.vn/documents/36315/0/ong+vu+hong+thanh.jpg/027d6f3d-141a-41df-8280-d2372e932e42?t=1599463330104", alt="")
							p 
								strong Ngành điện đã cung cấp điện ổn định, an toàn, cơ bản đáp ứng nhu cầu
							p Báo cáo tóm tắt tại Hội nghị về tình hình thực hiện Quy hoạch Điện VII, Quy hoạch Điện VII điều chỉnh và phương hướng, kế hoạch thực hiện lập Quy hoạch Điện VIII, Bộ trưởng Bộ Công Thương Trần Tuấn Anh khẳng định, sau gần 10 năm thực hiện Quy hoạch điện VII và Quy hoạch điện VII điều chỉnh, ngành điện Việt Nam đã có bước phát triển nhanh, tương đối đồng bộ trong các lĩnh vực, bám sát các quan điểm phát triển và đã đạt được nhiều mục tiêu quy hoạch đề ra. Cụ thể là:
							p Tính đến hết năm 2019, điện sản xuất và nhập khẩu toàn hệ thống đạt 239 tỷ kWh tăng 2,35 lần so với năm 2010. Công suất phụ tải lớn nhất toàn hệ thống (Pmax) năm 2019 đạt 38.249 MW.
							p Hạ tầng cung cấp điện được đầu tư khá đồng bộ, đáp ứng nhu cầu tiêu thụ điện tăng cao trong thời gian vừa qua.
							p Về năng lượng tái tạo, hiện nay, tổng công suất điện gió và mặt trời là khoảng 5.800 MW, chiếm khoảng 10% tổng công suất nguồn của hệ thống.
							p Sau gần 5 năm thực hiện Quy hoạch điện VII điều chỉnh, lưới điện truyền tải được xây dựng đạt khoảng (70-90)% của cả giai đoạn 2016-2020.
							p Công tác đầu tư đưa điện về nông thôn, miền núi, hải đảo được chú trọng và thực hiện vượt chỉ tiêu của Đảng và Chính phủ đề ra, góp phần quan trọng trong việc thực hiện chính sách xóa đói giảm nghèo, xây dựng nông thôn mới, giữ gìn ổn định chính trị, an ninh, chủ quyền biên giới và hải đảo.
							p Thị trường phát điện cạnh tranh (cấp độ 1) hoàn chỉnh đã chính thức vận hành ngày 01 tháng 7 năm 2012 và đã đạt được các kết quả tích cực góp phần đảm bảo an ninh cung cấp điện, tăng cường tính minh bạch, tối ưu chi phí toàn hệ thống.
							p Thị trường bán buôn điện cạnh tranh (cấp độ 2) đã được vận hành thử nghiệm từ 2017-2018 và vận hành chính thức từ 01 tháng 01 năm 2019.
							.img
								.row.row-m
									.col-12.col-sm-6
										.img
											img.w-100(src="https://www.moit.gov.vn/documents/36315/0/bo+truong+TTA+tai+phien+giai+trinh.jpg/560e1935-4ab2-463a-86cb-fcf66ba31711?t=1599463410017", alt="")
									.col-12.col-sm-6
										.img
											img.w-100(src="https://www.moit.gov.vn/documents/36315/0/canh+toan+phien+giai+trinh+1.jpg/0f0dec09-c86b-4f73-b1cf-51881359a986?t=1599463508023", alt="")
					.news-other
						.s-title Tin tức liên quan
						.news-list3
							ul
								li
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
										span (07/10/2019)
								li
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
										span (05/10/2015)
								li
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
										span (10/12/2015)
								li
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
										span (10/12/2015)
								li
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
										span (07/10/2015)

			.col-12.col-lg-4
				.sidebar-cate
					ul
						li.active
							a(href="#!") Tin tức thị trường
						li
							a(href="#!") Tin thế giới
						li
							a(href="#!") Tin trong nước
						li
							a(href="#!") Tin xã hội
						li
							a(href="#!") Tin gì đó
				.sidebar-news
					.home-stitle Tin mới
					.news-line
						ul
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020