.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.news-page
	.container
		.home-title.text-center Tin tức
		.row
			.col-12.col-lg-8
				.hnews-list
					.row
						.col-12.col-md-6
							.news-item.big
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
									.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia cum, assumenda laudantium vel rem magni. Corporis obcaecati quo voluptates?
						.col-12.col-md-6
							.news-item.big
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
									.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia cum, assumenda laudantium vel rem magni. Corporis obcaecati quo voluptates?
						.col-12.col-md-6
							.news-item.small
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
						.col-12.col-md-6
							.news-item.small
								.img
									img(src="img/hn1.jpg", alt="")
								.caption
									.name
										a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
									time 11:45AM - 11/07/2020
				.news-slide
					.item
						.news
							a.img(href="#!")
								img(src="img/hn1.jpg", alt="")
							.caption
								.name
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 30 tháng 4, 2019
					.item
						.news
							a.img(href="#!")
								img(src="img/hn1.jpg", alt="")
							.caption
								.name
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 30 tháng 4, 2019
					.item
						.news
							a.img(href="#!")
								img(src="img/hn1.jpg", alt="")
							.caption
								.name
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 30 tháng 4, 2019
					.item
						.news
							a.img(href="#!")
								img(src="img/hn1.jpg", alt="")
							.caption
								.name
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 30 tháng 4, 2019
					.item
						.news
							a.img(href="#!")
								img(src="img/hn1.jpg", alt="")
							.caption
								.name
									a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 30 tháng 4, 2019
				.news-list2.line
					.news
						a.img(href="#!")
							img(src="img/hn1.jpg", alt="")
						.caption
							.name
								a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 30 tháng 4, 2019
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/hn1.jpg", alt="")
						.caption
							.name
								a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 30 tháng 4, 2019
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/hn1.jpg", alt="")
						.caption
							.name
								a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 30 tháng 4, 2019
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/hn1.jpg", alt="")
						.caption
							.name
								a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 30 tháng 4, 2019
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/hn1.jpg", alt="")
						.caption
							.name
								a(href="#!") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
							time 30 tháng 4, 2019
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
			.col-12.col-lg-4
				.sidebar-cate
					ul
						li.active
							a(href="#!") Tin tức thị trường
						li
							a(href="#!") Tin thế giới
						li
							a(href="#!") Tin trong nước
						li
							a(href="#!") Tin xã hội
						li
							a(href="#!") Tin gì đó
				.sidebar-news
					.home-stitle Tin mới
					.news-line
						ul
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020
							li
								.name
									a(href="") Giá ô tô sẽ giảm khi thuế tiêu thụ đặc biệt với linh kiện sản xuất trong nước về 0%
								time 11:45AM - 11/07/2020